.TodoItem {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bdbdbd;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2); /* Sombra con desplazamiento y desenfoque */
    margin: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
  }
  .TodoItem:hover{
    transform: scale(1.1)
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
 